h1
{
    font-size: 45px;
    color: hotpink;
    border-bottom: dashed 5px purple;
}
h2
{
    font-style: italic;
}
ul
{
    background-color: #eeeeee;
    border: solid 3px purple;
    padding: 20px;
}
a:hover, .active
{
    color: green;
}
.link_voltar
{
    
    font-size: 20px;
}